html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI';
    font-size: 9pt;
    flex-flow: column;
}


/*------------ TOP TOOLBAR ------------*/

.toolbar-top {
    font-family: 'Segoe UI';
    font-size: 9pt;
    height: 80px;
    width: 100%;
    background-color: rgb(245, 246, 247);
    border: 1px solid rgb(218, 219, 220);
}

.toolbar-top button {
    font-family: 'Segoe UI';
    font-size: 9pt;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: auto;
    border: 0px;
    background-color: rgb(245, 246, 247);
    border: 1px solid rgb(245, 246, 247);
}

.toolbar-top button:hover {
    border: 1px solid rgb(164, 206, 249);
}

.toolbar-top button:focus {
    background-color: rgb(201, 224, 247);
    border: 1px solid rgb(164, 206, 249);
    outline: none;
}


/*------------ LEFT TOOLBAR ------------*/

.toolbar-left {
    float: left;
    height: 90%;
    width: 20%;
    background-color: rgb(245, 246, 247);
}

.tile-properties {
    background-color: rgb(250, 251, 252);
    border: 1px solid rgb(219, 220, 221);
}

.span-formatter {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 20px 0 20px 0;
    border: 1px solid gray;
    background-color: black;
    color: gray;
    font-size: 14px;
    text-align: center;
}

.span-wrapper {
    display: inline-block;
    border: 1px solid black;
}

.span-wrapper span {
    font-family: consolas;
    font-size: 20px;
    color: rgb(128, 128, 128);
}

.color-palette {}

.color-palette div {
    float: left;
    height: 16px;
    width: 16px;
    border: 1px solid rgb(245, 246, 247);
}

.item-properties input {
    margin-bottom: 5px;
}


/*------------ TILE AND CANVAS RELATED STYLES ------------*/

.mapcanvas {
    float: left;
    height: 90%;
    width: 80%;
    background-color: black;
    /*background-color: rgb(64, 64, 64);*/
    overflow: scroll;
    white-space: nowrap;
}

.tile-wrapper {
    display: inline-block;
    border: 1px solid black;
}

.tile-wrapper:hover {
    border: 1px solid white;
}

.tile-wrapper span {
    font-family: consolas;
    font-size: 14px;
    color: rgb(128, 128, 128);
}


/*------------ ITEM AND CANVAS RELATED STYLES ------------*/

.itemcanvas {
    float: left;
    height: 90%;
    width: 80%;
    background-color: black;
    /*background-color: rgb(64, 64, 64);*/
    overflow: scroll;
    white-space: nowrap;
    font-family: consolas;
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.item-wrapper {
    display: grid;
    grid-template-columns: 50px 200px 150px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(64, 64, 64);
}

.item-wrapper:hover {
    border: 1px solid white;
}

.item-wrapper div {
    display: inline-block;
}


/*------------ FONTS ------------*/

@font-face {
    font-family: segoe;
    src: url(segoeui.ttf);
}

@font-face {
    font-family: consolas;
    src: url(consolab.ttf);
}