body{
background-color: black;
}

div{
font-family:consolas;
color: white;
font-size:14px;
}

input{
	font-family:consolas;
	font-size:14px;
	border: 1px solid gray;
	background-color: black;
	color: gray;
}

.mapcanvas{
width: 50%;
display: grid;
grid-template-columns: repeat(10, 24px);
grid-column-gap: 0px;
grid-row-gap:0px;
border: 1px solid white;
}

.toolbox{
position: absolute;
top: 0px;
right: 0px;
width: 300px;
height: 100%;
border: 1px solid white;
}

.colorpalette{
grid-template-columns: repeat(8, 24px);
display: grid;
}

.letterformatter{
width: 50%;
margin: 20px auto 20px auto;
padding: 20px 0 20px 0;
border: 1px solid gray;
}

.letter{
display:inline;
text-align:center;
}

.colorbox{
height: 20px;
text-align: center;
}

.colorbox:hover{
box-shadow: inset 0px 0px 0px 1px white;
}

.tile-default{
height: auto;
width: auto;
text-align: center;
color: gray;
}

.tile-default:hover{
box-shadow: inset 0px 0px 0px 1px white;
}

.tile-selected{
text-align: center;
color: gray;
box-shadow: inset 0px 0px 0px 1px yellow;
}

@font-face {
	font-family: mono;
	src: url(monosb.ttf);
}

@font-face {
	font-family: consolas;
	src: url(consolab.ttf);
}
